.cms-preview {
  border-color: var(--cms-border-colour) !important;
}

.cms-preview-states {
  .switch {
    background: none !important;
  }

  .state-name {
    line-height: 22px !important;
    background-color: var(--cms-background-colour) !important;
    border-top: 1px solid var(--cms-border-colour) !important;
    border-bottom: 1px solid var(--cms-border-colour) !important;

    &.first {
      border-left: 1px solid var(--cms-border-colour) !important;
      border-radius: 5px 0 0 5px !important;
    }

    &.last {
      border-right: 1px solid var(--cms-border-colour) !important;
      border-radius: 0 5px 5px 0 !important;
    }

    span {
      color: var(--cms-text-colour) !important;
    }

    &.active {
      background-color: var(--cms-accent-colour) !important;

      span {
        color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
      }
    }
  }
}


// ===============================
// Responsive Preview Panel Styles
// ===============================

.cms-preview .panel {
  background-color: var(--cms-background-colour--dark, inherit) !important;
}

// ===============================
// Preview Device Outer Styles
// ===============================

.preview-device-outer {
  background-color: var(--cms-border-colour, inherit) !important;
}

// ===============================
// Preview Device Styles
// ===============================

.preview__device,
.preview-device-outer {
  overflow: visible !important;
  color: var(--cms-text-colour, inherit) !important;

  &:after {
    color: inherit !important;
  }
}

// ===============================
// Mobile & Tablet Preview Styles
// ===============================

.cms-preview.mobile,
.cms-preview.tablet {
  .preview-device-outer {
    &:after {
      content: 'c' !important;
      font-family: silverstripe !important;
      top: 0 !important;
      right: 0 !important;
      font-size: 20px !important;
      text-transform: none !important;
      line-height: 1 !important;
      z-index: 10 !important;
      color: var(--cms-accent-text-colour, var(--cms-background-colour--dark)) !important;
      transform: rotate(60deg) !important;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      height: 30px;
      width: 30px;
      z-index: 9;
      border-radius: 5px;
      box-shadow: 0 0 0 5px var(--cms-border-colour, inherit) !important;
      background-color: var(--cms-accent-colour, inherit) !important;
    }
  }

  .preview-device-inner {
    transition: all .3s ease-in-out !important;
  }
}

// ===============================
// Icon View Styles
// ===============================

.icon-view {
  color: var(--cms-text-colour, inherit) !important;

  &:before {
    color: inherit !important;
  }
}
