// ===============================
// CMS Container Base Styles
// ===============================

.cms-container {
  overflow: hidden;
  color: var(--cms-text-colour);
  background-color: transparent;
}

// ===============================
// Content Header & Panels
// ===============================

.cms-content-header {
  background-color: var(--cms-background-colour--dark);
  border-bottom-color: var(--cms-border-colour);
}

.cms-content,
.cms-panel-content,
.cms-content-tools {
  background-color: transparent!important;
}

// Target all scrollbars within the CMS interface and set their track colour to transparent, and thumb colour to the CMS accent colour
body {
  background-color: var(--cms-background-colour);

  &,
  * {
    scrollbar-color: var(--cms-border-colour) transparent!important;
    scrollbar-width: thin!important;
  }
}
