// ===============================
// Grid Field Icon Action
// ===============================

.grid-field__icon-action,
.grid-field__icon-action[class*="font-icon-"] {
  &:before {
    color: var(--cms-accent-colour) !important;
    transition: color .3s ease;
  }
}

.grid-field__icon-action {
  &:focus,
  &:active,
  &:focus-visible,
  &:hover {
    background-color: transparent !important;

    &:before {
      color: var(--cms-text-colour) !important;
    }
  }
}

.ss-gridfield-items {
  a {
    .item {
      color: var(--cms-link-colour) !important;
    }
  }
}

.cms .gridfield-icon.published i {
  color: var(--cms-accent-colour) !important;
}

.grid-field__sort.ss-gridfield-sorted-asc::after,
.grid-field__sort.ss-gridfield-sorted-asc:hover::after,
.grid-field__sort.ss-gridfield-sorted-desc::after,
.grid-field__sort.ss-gridfield-sorted-desc:hover::after {
  color: var(--cms-text-colour) !important;
}

.grid-field__sort.ss-gridfield-sorted-asc::after,
.grid-field__sort.ss-gridfield-sorted-asc:hover::after,
.grid-field__sort.ss-gridfield-sorted-desc::after,
.grid-field__sort.ss-gridfield-sorted-desc:hover::after,
.grid-field .grid-field__sort:focus,
.grid-field__sort.ss-gridfield-sorted-asc,
.grid-field__sort.ss-gridfield-sorted-desc {
  border-bottom-color: var(--cms-border-colour) !important;
}
