// ===============================
// CMS Variables
// ===============================

// SCSS variable for background colour
$cms-background-colour: #f1f1f1;

// CSS custom properties for CMS theme
:root {
  --cms-background-colour: #f1f1f1;
  --cms-background-colour--dark: #e9e9e9;
  --cms-background-colour--light: #fefefe;
  --cms-background-colour--dynamic: #e9e9e9;
  --cms-border-colour: #bebebe;
  --cms-link-colour: #036cd7;
  --cms-text-colour: #0e0e0e;
  --cms-text-colour--dynamic: grey;
  --cms-accent-colour: #005a92;
}
